.playerContainer{
    width: 26.5rem;
    height: 100vh;
    background-color: var(--purple-500);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    justify-content: space-between;

}

.playerContainer header{
    display: flex;
    align-items: center;
    gap: 16px;
}

.playerContainer strong {
    font-family: Lexend, sans-serif;
    font-weight: 600;
}

.emptyPlayer {

    width: 100%;
    height: 20rem;
    padding: 4rem;
    border: 1.5px dashed var(--purple-300);
    border-radius: 1.5rem;
    background: linear-gradient(143.8deg, rgba(145, 100, 250, 0.8) 0%, rgba(0,0,0,0) 100%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.playerContainer footer {
    align-self: stretch;
}


.empty {
    opacity: 0.5;    
}

.progress {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem;
}

.progress span {
    display: inline-block;
    width: 4rem;
    text-align: center;
}

.emptySlider {
    width: 100%;
    height: 4px;
    background: var(--purple-300);
    border-radius: 2px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    gap: 1.5rem;
}

.buttons button{
    background: transparent;
    border: 0;
    font-size: 0;
}

.buttons button:disabled{
    cursor: default;
}

 .playButton {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background: var(--purple-400) !important;
}

.currentEpisode {
    text-align: center;
}

.currentEpisode strong {
    display: block;
    margin-top: 2rem;
    font: 600 1.25rem Lexend, sans-serif;
    line-height: 1.75rem;

}

.currentEpisode img {
    border-radius: 1.5rem;
}

.currentEpisode span {
    display: block;
    margin-top: 1rem;
    opacity: 0.6;
    line-height: 1.5rem;
}